$border-sm: 0.1rem;
$border-md: 0.3rem;
$border-lg: 0.5rem;
$upper-height: 93vh;
$lower-height: 0vh;
$total-width: 100vw;
$history-width: 15vw;
$board-width: 85vw;
$section-border-color: rgb(0, 66, 0);
