.title {
  text-align: center;
}

.main {
  // background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  overflow: visible;
}

.black-number {
  color: black;
}

.green-number {
  color: green;
}

.red-number {
  color: red;
}

.orange-number {
  color: orange;
}

.blue-background-number {
  background-color: blue;
}

.black-background-number {
  background-color: black;
}

.green-background-number {
  background-color: green;
}

.red-background-number {
  background-color: red;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bold-text {
  font-weight: 600;
}

.warning-button {
  background-color: red;
  color: #fff;
}

.ok-button {
  background-color: lightskyblue;
  color: #fff;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

button {
  border-color: transparent;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  &:disabled {
    background-color: gray;
  }
}
