@use "variables";

.bet-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // border: solid variables.$section-border-color variables.$border-sm;
  width: variables.$total-width;
  height: variables.$lower-height;
  background-color: white;
  box-sizing: border-box;
}

.bet-section-item-center {
  display: flex;
  align-items: center;
}
