@use "variables";
*, *::after, *::before {
  box-sizing: border-box;
}

.board {
  color: white;
  background-color: darkgreen;
  border: solid variables.$section-border-color variables.$border-sm;
  display: grid;
  font-weight: 600;
  gap: 0.2rem;
  grid-template-areas:
    "blank1 blank1 zeros zeros zeros"
    "one2one dozens numbers numbers numbers"
    "one2one dozens numbers numbers numbers"
    "one2one dozens numbers numbers numbers"
    "one2one dozens numbers numbers numbers"
    "one2one dozens numbers numbers numbers"
    "one2one dozens numbers numbers numbers"
    "one2one dozens numbers numbers numbers"
    "one2one dozens numbers numbers numbers"
    "one2one dozens numbers numbers numbers"
    "one2one dozens numbers numbers numbers"
    "one2one dozens numbers numbers numbers"
    "one2one dozens numbers numbers numbers"
    "blank2 blank2 lines lines lines";
  height: variables.$upper-height;
  padding: 0.2rem;
  width: variables.$board-width;
}

.board-zeros {
  display: grid;
  grid-area: zeros;
  grid-template-columns: 1fr 1fr;
}

.board-dozens {
  display: grid;
  grid-area: dozens;
}

.board-lines {
  display: grid;
  grid-area: lines;
  grid-template-columns: 1fr 1fr 1fr;
}

.board-zone-border {
  border: solid white variables.$border-sm;
}

.board-one2one {
  display:grid;
  grid-area: one2one;
}

.board-numbers {
  display: grid;
  grid-area: numbers;
  grid-template-columns: 1fr 1fr 1fr;
}

.board-numbers-number {
  text-align: center;
  font-size: 1.5rem;
}

.risky-bet-zone {
  background-color: red;
}

.medium-bet-zone {
  background-color: orange;
}

.conservative-bet-zone {
  background-color: forestgreen;
}

.locked-bet-zone {
  background-color: grey;
}